{% extends 'base.html' %}
{% block content %}
<h2>{{ medicine.name }}</h2>

<p>Category: {{ medicine.category.name }}</p>
<p>Supplier: {{ medicine.supplier.name }}</p>
<p>Price: Rs. {{ medicine.price }}</p>
<p>Stock: {{ medicine.stock_quantity }}</p>
<p>Expiry Date: {{ medicine.expiry_date }}</p>
<p>Description: {{ medicine.description }}</p>

<a href="/">Back to Home</a>
{% if user.is_authenticated %}
    <a href="{% url 'add_to_cart' medicine.id %}">
        <button>Add to Cart</button>
    </a>
{% else %}
    <p>Please login to add to cart.</p>
{% endif %}
{% endblock %}