{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-lg">
            <div class="card-header text-center bg-dark text-white">
                <h4>Login to Your Account</h4>
            </div>
            <div class="card-body">

                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-dark">Login</button>
                    </div>

                </form>

                <hr>
                <p class="text-center">
                    Don't have an account?
                    <a href="/register/">Register here</a>
                </p>

            </div>
        </div>
    </div>
</div>

{% endblock %}